<h2>Bustle</h2>

{{#carousel-container transition-interval=400}}
    {{#carousel-body}}
      {{#each model as |story|}}
        {{story-tile story=story}}
      {{/each}}
    {{/carousel-body}}

    {{#carousel-arrow direction="left" tagName="button"}}
      Slide Left
    {{/carousel-arrow}}
    {{#carousel-arrow direction="right" tagName="button"}}
      Slide Right
    {{/carousel-arrow}}
  {{/carousel-container}}
<!-- <ul>
  {{#each model as |story|}}
    {{story-tile story=story}}
  {{/each}}
</ul> -->

{{new-story save2="save3"}}
